@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", "sans-serif";
}

::-webkit-scrollbar{/* The ::-webkit-scroller pseudo-element is a WebKit-specific CSS selector (used in browsers like Chrome and Safari) that targets the entire scrollbar of an element. It allows you to customize the 
    scrollbar's appearance, such as its background color, width, or other visual properties*/
    display: none;
}

/* stylelint-disable-next-line at-rule-no-unknown */

@theme{

    --color-primary: #5044E5;
 }
 